*, *::after, *::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Hobo'; 
    src: url('Hobo.ttf'),url("hobo.ttf");
}


/* formatting */
p { 
  font-size:1em;
  line-height:1.4em;
}

a {
  text-decoration:none;
  color:#33aa22;
  padding:0;
  margin:0;
}

img {
  display:block;
  width:100%;
}


ul {
  padding:20px;
}

ul li {
  line-height:1.2em;
}

h1 {
  display:block;
  border-top-left-radius:0.5em;
  border-top-right-radius:0.5em;
  padding:1em;
}





/* body */

body {
 font-family: 'Hobo', Fallback, sans-serif;
 font-size:14px;
 color:#fff;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  background:#000;
  background-image: url(../images/galaxy.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container { 
  height:100vh;
  display:block;
  width:100%;
  padding:2em;
}


