

/* nav */
header {
  display:block;
  position:absolute;
  bottom:2em;
  left:0;
  width:100%; 
}


header p {
text-align:center;
padding-bottom:1em;
}

h1 {
  font-size:4em;
  text-align:center;
  padding:0;
  margin:0;
  padding:0 0 0.5em 0;
}

/* racewheel widget */
.racewheel {
  display:block;
  position:relative;
  width:100%;
  padding:1em;
  background: rgba(255,255,255,0.25);
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
  z-index:2;
}

.racerow div {position:relative !important;}

.racerow div span { 
  position:absolute;
  color:#000;
  width:100%;
  background:#aaa;
  display:block;
  bottom:0px;
  z-index:2000;
  text-align:center;
}
.racerow div:hover span {display:block;}

.racerow img { display:block; }


.close { position:absolute; top:0.5em;right:0.5em; color:#fff;font-size:32px}




/* slick carousel */
.slick-arrow {display:inline-block;}
.slick-slider { margin:0 auto; width:100%; width:98%; padding:0 2em 0 2em;}
.slick-slide { 
  display:block;
  border:2px solid #aaa;
  width: 128px;
  height:128px !important; 
  overflow:hidden;
  margin-right:1em;
  text-align:center;
  border-radius:2em;
  -webkit-border-radius:2em;
}

.slick-slide:hover, .slick-slide:active, .slick-slide:focus, .active {border:2px solid #fff;background:rgba(255,255,255,0.2);}
.slick-slide span {display:none;}
.slick-slide:hover span {display:block;color:#000;background:#fff;}

.slick-prev {left:-2em !important;z-index:200}
.slick-next {right:0px !important;}

/* race widget */

.itemrace {
  position:relative;
  display:none;
  height:auto;
  width:100%;
  border:4px solid #fff;
  background: #253961;
  z-index:99;
  margin:0 auto;
  max-width:60em;
  max-height:94%;
  padding:2em;
  overflow-y:scroll;
  border-radius:2em;
}

.itemrace h1 {
  padding:0;
  margin:0;
  display:block;
  width:100%;
  text-align:left;
}


.attributes {
  display:block;
  width:100%;
  margin:0 0 1em 0;
  vertical-align:top;
}
  
.attributes h3 { 
  display:inline-block;
  background:#fff;
  background:none;
  border:1px solid #fff;
  color:#3d5074;
  color:#fff;
  width:100%;
  padding:1em;
  font-size:1.2em;
  margin-bottom:0.5em;
  transition:background-color 0.5s ease-out;
}

.item.leftatt { width:25%; }
.item.rightatt { width:74%; }

.attributes-content {
  display:-webkit-flex;
  display:flex;
  justify-content:space-between;
  -webkit-flex-direction:row;
  flex-direction:row;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;  
}

.attributes-content .item {
  display:block;
}

.attributes-content .item .stat {
  display:inline-block;
  width:25%;
  padding:5px 0;
}

.attributes-content .item .stat2 {
  display:inline-block;
  width:12.4%;
  padding:5px 0;
}

.attributes-content img { display:block; width:32px; margin:0 auto; }
.attributes-content span { display:block; width:32px; margin:0 auto; font-size:1.2em; text-align:center;margin-top:1em;}

.heading { width:20%;}

.raceinfo {
  display:-webkit-flex;
  display:flex;
  justify-content:space-between;
  -webkit-flex-direction:row;
  flex-direction:row;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  padding:2em 0;
}

.photo {display:inline-block;flex:1;margin-right: 1em;}
.photo img { width:128px;margin:0 auto}
.photo2 img {width:auto;margin:0 auto;}
.textsplat { display:inline-block;flex:3;}
.textsplat p {font-size:1.2em;color:#fff;}

.racestats {
  display:-webkit-flex;
  display:flex;
  justify-content:space-between;
  -webkit-flex-direction:row;
  flex-direction:row;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;  
}

.racestats h3 {
  width:100%;
  padding:1em;
}

.racestats img { 
  display:inline-block;
  width:32px;
  height:32px;
}

.resistitem { width:25%; }
.resistitem h4 { width: 100%;display:block; }
.resistitem h4 img { width:32px;height:32px;margin: 0 10px 5px 0}



.raceresistblock {
  display:flex;
  display:-webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items:center;
  flex-wrap:wrap;
  font-size:1.2em;
  flex-wrap:wrap;
}

.raceresistblock .resistitem {
  display:flex;
  padding:1em;
  flex-direction:row;
}



.raceresistblock p {
  display:inline;
}

.raceresistblock .resistitem span {
  color:#fff;
}

.resistitem .resistleft { display:inline-block;width:33%; }
.resistitem .resistright {display:inline-block;width: 66%; }


ul.racial {
  list-style-type:none;
  display:flex;
  flex-direction:row;
  padding:0;
  flex:1;
  }

ul.racial img {display:inline-block;width:32px;}

ul.racial li { width:15% }

.spacer {margin-top:1em;}






/* Accordion Content Styles */
#accordion { 
  position:relative;
  display:block;
}

#accordion h3 {
  text-align:left;  
  display:block;
  padding:1em;
  margin-top:2px;
  transition:background-color 0.5s ease-out;
  font-size:1.2em;
  border:1px solid #fff;
  background:none;
}

#accordion h3 span {
  position:absolute;
  right:2em;
}

#accordion h3 .up { 
  display:none; 
}

#accordion h3:focus .down { 
  display:none;   
}

#accordion h3:focus .up { 
  display:inline-block;    
}

.ui-accordion-content { margin:0 auto; }

#accordion div, .race {
  height:auto;
  margin:0 auto;
}

#accordion div p { 
  text-align:left; 
  padding:1em;
  font-size:1.2em;
  display:block;color:#fff;
}

#accordion h3:hover, #accordion h3:focus,  .attributes h3:hover, .attributes h3:focus {
  transition:background-color 0.5s ease;
  background-color:#fff !important;
  color:#000;
}



#accordion ul {
  list-style-type:none;
  margin:0;
  padding:0;
  border:0;
  margin:1em 0 1em 0;  
}

#accordion ul li {
  font-size:1.2em;
  line-height:1.6em;
}


#accordion i { display:inline-block;padding:0.5em;font-size:1.4em;}

/* jQ UI overrides */

/*.ui-accordion-content { min-height:275px; }*/
.ui-accordion-header-active { 
  transition:background-color 0.5s ease;

}
.ui-accordion-content-active { height:auto; }





/* ----------------custom scrollbar---------------- */

::-webkit-scrollbar {
    width: 0.6em;
    padding:1em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    height:50px;
    background:#fff;
}
        

/* ----------------modal stuff---------------- */

.container { position:relative; padding:0;}  

.modal {
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.4);
  z-index:12;
  display:none
}      
        
        
  
        
     
/* ----------------media queries---------------- */

@media screen and (min-width: 64.01em) {
.itemrace { top:2em}
}

@media screen and (max-width: 64em) {
  #accordion ul { padding:2em 0 2em 0 }
  .attributes-content .item .stat2 { width:25%; }
  .photo {margin: 0 0 2em 0;}
  .attributes { padding:0 0 1em 0}
  .attributes-content .item { margin-top:1em;}
  .attributes-content {flex-direction:column;}
  .item.leftatt, .item.rightatt {width:100%}
  .itemrace { max-width:70%;max-height:76%;top:2em}
}

@media screen and (max-width: 32.5em) {

  #accordion ul { padding: 0 1em}
  .textsplat p, #accordion ul li, #accordion div p {font-size:1.0em}
  #accordion h3, .attributes h3 { font-size:1.1em;}
  #accordion h3 span { right:1em; } 
  .raceinfo {flex-direction:column;}
  .raceresistblock .resistitem {
    width:25%;
    display:flex;
    padding:1em;
    flex-direction:column;
  }  
  .itemrace { max-width:90%;max-height:81%;top:1em}
}

