* { box-sizing: border-box;  }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Hobo'; 
    src: url('Hobo.ttf');
}


body {
 font-family: 'Hobo', Fallback, sans-serif;
 font-size:14px;
 color:#fff;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  background:#000;
  background-image: url(../images/galaxy.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* nav */
.logo {
  height:40px;
  line-height:40px;
  display:inline-block;
  font-size:24px;
}

.menu {
  position:relative;
  display:inline-block;
  width:100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.menucontent {
  padding:10px 40px 10px 40px;
  display:block;
}

.menucontent .nav {
float:right;
height:40px;
line-height:40px;
display:inline-block;
}

.nav a {
margin-right:20px;}

.nav .last {margin-right:0;}

.menucontent p a {

height:40px;
line-height:40px;
display:inline-block;
}




/* container */

.container {
   display: -webkit-flex;
   display: flex;
}


.content {
  display: -webkit-flex;
  display: flex;
  flex-direction:row;
  flex-flow: row wrap;
  margin:0;
  padding:20px;
  width:100%;
  margin:auto;

}

.wide {
  flex:1 5 auto;
}

.normal {
  flex:1 4 50%;
}

.slim {
  flex:1 3 33%;
}

.tiny {
  flex:1 2 25%;
}

.puny {
  flex:1 1 20%;
}





/* content */
.textbox {
  vertical-align:top;
  display:inline-block;
  width:100%;
  justify-content: flex-start;
  background:#111;
  opacity:0.9;
  margin:0 20px 20px 0;
  border-radius: 8px

}

.textbox h1 { 
  padding:20px; 
  font-size:1.5em; 
  background:#377234;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
}

.itemcontent { 
  padding:20px; 
}

.heroshot {
  width:100%;
}

/* text formatting */
p { 
  text-indent:1em; 
  margin-bottom:20px; 
  font-size:1em;
  line-height:18px;
}

a {
  text-decoration:none;
  color:#33aa22;
}

a:hover {
  text-decoration:underline;
}

img {
  width:100%;
}

/* Small screens */
@media all and (max-width: 500px) {
  .content {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
