*, *::after, *::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Hobo'; 
    src: url('Hobo.ttf');
}


body {
 font-family: 'Hobo', Fallback, sans-serif;
 font-size:1em;
 color:#fff;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  background:#000;
  background-image: url(../images/galaxy.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* nav */
header {
  position:fixed;
  top:0;
  left:0;
  height:85px;
  width:100%;
  background-color: rgba(0, 0, 0, 1);  
  padding:20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;  
    align-items: center;
    flex-wrap:row;
  z-index:1200;
}

.logo {
  margin-right:2em;
  font-size:2em;
  vertical-align:middle;
}

.logo a { color:#fff; }

  
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }


/* formatting */
p { 
  font-size:1em;
  line-height:1.4em;
}

a {
  text-decoration:none;
  color:#33aa22;
  padding:0;
  margin:0;
}

img {
  display:block;
  width:100%;
}


ul {
  padding:20px;
}

ul li {
  line-height:1.2em;
}

h1 {
  display:block;
  border-top-left-radius:0.5em;
  border-top-right-radius:0.5em;
  padding:1em;
}

/* font sizes */

.xlarge { font-size:2em; }
.large { font-size:1.5em;  }
.heading { font-size:1.2em; }
.med { font-size:1.0em; }
.small { font-size:0.9em; }
.tiny { font-size:0.8em; }


/* font weights */

.bold { font-weight:600; }
.standard { font-weight:400; }
.light { font-weight:300; }

/* text color */
.warningtext,.negativetext { color:#ad1616; }
.cautiontext { color:#efb400; }
.positivetext { color:#3a6b33; }
.legendarytext { color:#8a159c; }
.epictext { color:#e43774; }
.raretext { color:#ff8400; }
a, .uncommontext { color:#008aff; }
.defaulttext { color:#666; }

.whitetext { color:#fff; }
p, .greytext { color:#ccc; }

/* backgrounds */
.warning { background:#ad1616 !important; }
.caution { background:#efb400 !important; }
.positive { background:#3a6b33 !important; }
.legendary { background:#8a159c !important; }
.epic { background:#e43774 !important; }
.rare { background:#6080dc !important; }
.uncommon { background:#d87d1b !important; }
.default { background:#666 !important; }
.other { background:#2e5e44 !important; }
.resists { background:#6d3347 !important;}

.container { 
  height:100vh;
  margin-top:86px;
  display:-webkit-flexbox;
  display:-ms-flexbox;
  display:flex;
  flex-flow:row wrap;
  -webkit-flex-flow:row wrap;
  padding:20px;
}

.menu { 
  -webkit-flex:1;
  -webkit-flex-direction:row;
  flex:1;
  flex-direction:row;
  margin-right:1em; 
  height:100%;
}

ul.list {
  display:-webkit-flexbox;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex:4;
  flex:4;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-justify-content:space-between;
  justify-content:space-between;
  list-style-type:none;
  padding:0;
  margin:0;
}

.list-item, .list-itembig, .list-itemmed, .list-itemrace {
  -webkit-flex-direction:row;
  flex-direction:row;
  padding:0 1em 1em 0;
  width:100%;
}

.textbox { 
  width:100%;
  box-sizing: border-box;
  word-wrap: break-word;
  height:100%;
}

.indent {
  text-indent:2em;
}

.textbox p {
  text-align:left;
  line-height:1.6em;
  padding:0 2em 2em 2em;
}

.textcontent {
  display:block;
  height:500px
}

.textbox p.type { 
  margin:0; 
  color:#fff;
  -webkit-border-top-left-radius: 3px; 
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px; 
  -webkit-border-top-right-radius: 3px; 
  -moz-border-radius-topright: 3px; 
  border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0; 
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0; 
  -webkit-border-bottom-right-radius: 0; 
  -moz-border-radius-bottomright: 0; 
  border-bottom-right-radius: 0;    
}

.textbox p.info, .info { 
  background:#292929;
  margin:0; 
  -webkit-border-top-left-radius: 0; 
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0; 
  -webkit-border-top-right-radius: 0; 
  -moz-border-radius-topright: 0; 
  border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px; 
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px; 
  -webkit-border-bottom-right-radius: 3px; 
  -moz-border-radius-bottomright: 3px; 
  border-bottom-right-radius: 3px;  
  margin-bottom:0.4em;
}



.imagebox img {
  width:32%;
  display:inline-block;
  margin-right:1%;
}

.imagebox, .imageboxrace {
  display:block;
  position:relative;

  background: rgba(0,0,0,0.9);
  text-align:center;
}

.imageboxrace ul { 
  display:inline-block;
  list-style-type:none;
  text-align:left;
}

.racestats { 
  display:flex;
  display:-webkit-flex;
  flex-direction:row;
  padding: 2em;
  -webkit-flex-direction:row;
  justify-content:center;
  -webkit-justify-content:center;
  width:100%;
}

.raceleft { width:40%; }
.raceright { width:60%; }
.imageboxrace img.racepic { 
  height:100%;
  width:auto;
}

.racestats img {
  height:100%;
  width:100%;
}

.imageboxrace ul li {
  font-size:1.2em;
  line-height:2em;
}

.imageboxrace ul li img {
vertical-align:middle;
}

.imageboxrace img {
  display:inline-block;
  width:auto;
}

.info ul.features { list-style-type:none; margin:0;padding:1em; }
.info ul.features li {margin-top:20px;line-height:1.6em; color:#efefef !important; }

.statinfo img, .raceresistblock img { width:32px; height:32px;}

.raceresistblock {
  display:flex;
  display:-webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  font-size:1.2em;
  flex-wrap:wrap;position:relative;
}

.raceresistblock .resistitem {
  width:50%;
  display:flex;
  padding:1em;
  flex-direction:row;
}

.raceresistblock .resistitem span {
  display:none;
}

.raceresistblock p {
  display:inline;
  
}

.raceresistblock .resistitem:hover span {
  display:block;
  color:#fff;
  position:relative;
  width:auto;
}

.resistitem .resistleft { display:inline-block;width:33%; }
.resistitem .resistright {display:inline-block;width: 66%; }

.list-itemrace {width:50%}

/* media queries */
@media screen and (min-width: 90.01em) {
 
  .list-itemrace { width:25%; }  
  
}
@media screen and (max-width: 90em) {
 
  .list-itemrace { width:33%; }  
  
}

@media screen and (max-width: 64em) {
  .list-itemrace { width:50%; padding:5px;}
  .imageboxrace img.racepic { max-height:128px;max-width:85px;}
}


@media screen and (max-width: 32.5em) {
  .list-itemrace { width:100%; padding:0;}
  .imageboxrace img.racepic { max-height:128px;max-width:85px;}
}




/* Accordion Content Styles */
#accordion { 
position:relative;
display:block;
}
#accordion h3 {
  display:block;
  position:relative;
  text-align:left;
}

#accordion h3 span {
  position:absolute;right:1em;
}

#accordion h3 .up { 
  display:none; 
}

#accordion h3:focus .down { 
  display:none;
}

#accordion h3:focus .up { 
  display:inline-block 
}

#accordion div, .race {
  height:auto;
}

#accordion div p { 
  text-align:left; 
  padding:1em;
}

#accordion h3 {
  position:relative;
  display:block;
  padding:1em;
}

.racial ul {
  display:inline-block;
  list-style-type:none;
  padding:0;
  margin:0;
}

.racial ul li {
  text-align:left;
  font-size:1em;
  width:100%;
  height:auto;
  padding:1em;
}

.racial ul li label {
  margin-bottom:1em;
}



/* overrides */
#accordion .ui-accordion-content > * { margin: 0; }
.ui-accordion-content { min-height:275px; }
.ui-accordion-content-active { height:auto; }




	

