*, *::after, *::before {-moz-box-sizing: border-box;box-sizing: border-box;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Poppins', sans-serif;
  height: auto;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

@font-face {font-family: 'Poppins', sans-serif;}

body {
  font-family: 'Poppins', Fallback, sans-serif;
  font-size:1em;
  width:100%;
  padding:0;
  margin:0 auto;
  background-image: linear-gradient(180deg, rgb(221 202 249) 0%, rgb(231 215 254) 35%, rgb(244 235 249) 100%);
  background-attachment: fixed;
  background-size: cover;

}

p {font-size: 1em;line-height:normal;font-size: clamp(1rem, 1vw, 18px);}
a {text-decoration:none;padding:0;margin:0;}
b {font-weight:600;}
h1 {font-weight:500;font-size: 2em;}
h2 {font-weight:500;font-size: 1.7em;}
h3 {font-weight:500;font-size: 1.5em;}
h4 {font-weight:400;font-size: 1.25em;}

img {display:block;width:100%;}
section {display:block;  background: linear-gradient(137deg, rgba(223,223,223,1) 0%, rgba(240,240,240,1) 35%, rgba(255,255,255,1) 100%);}
section.details {
  margin:0 auto;
  display:flex;
  align-items:flex-start;
  -webkit-align-items:flex-start;
  -ms-align-items:flex-start;
  justify-content:center;
  -webkit-justify-content:center;
  -ms-justify-content:center;
  flex-wrap:nowrap;
  }

ul li {line-height:1em; display:inline;}
ul li.center { margin:0 2em 0 2em; }
.rightcontentgame ul li {line-height:1em; display:block;}
img.bg {min-height: 100%;min-width: 1024px;width: 100%;height: auto;position: fixed;top: 0;left: 0;}
iframe { aspect-ratio: 16 / 9; width:100% !important; height:auto; max-width:100%;}
.clearfix {clear:both;}

/* Spacers */
p {padding:0 0 2rem 0;}
.spacer_s {padding:0 0 0.25rem 0;}
.spacer_m {padding:0 0 0.5rem 0;}
.spacer_l {padding:0 0 1rem 0;}
.spacer_xl {padding:0 0 2rem 0;}
.spacer_xxl {padding:0 0 3rem 0;}
.spacer_topbottom {padding:1rem 0 1rem 0;}
.spacer_topbottom_l {padding:2rem 0 2rem 0;}
.spacer_topbottom_xl {padding:3rem 0 3rem 0;}
.spacer_topbottom_huge {padding:5rem 2rem;}
.margin_s {margin:0 0 0.25rem 0;}
.margin_m {margin:0 0 0.5rem 0;}
.margin_l {margin:0 0 1rem 0;}
.margin_xl {margin:0 0 2rem 0;}

/* font sizes */
.tiny { font-size: clamp(0.8rem, 1vw, 14px);}
.small { font-size: clamp(0.9rem, 1vw, 16px);}
.med { font-size: clamp(1rem, 1vw, 18px);}
.med2 { font-size: clamp(1.1rem, 1vw, 20px);}
.heading { font-size: clamp(1.2rem, 1vw + 1rem, 20px);}
.large { font-size: clamp(1.4rem, 1vw + 1rem, 24px); }
.xlarge { font-size: clamp(1.6rem, 1vw + 3rem, 36px);}
.xxlarge { font-size: clamp(2rem, 1vw + 3rem, 48px);}

/* font weights */
.xtralight { font-weight:200; }
.light { font-weight:300; }
.base { font-weight:400; }
.semibold { font-weight:600; }
.bold { font-weight:700; }
.xtrabold { font-weight:800; }

.centertext {text-align:center;}
.indent {text-indent:2em;}
.italic { font-style:oblique }
.uppercase { text-transform: uppercase; }
.overflowhidden {overflow:hidden;}
.spacing_mid { letter-spacing:0.120em }

/*text colors*/
.defaulttext { color:#666; }
.whitetext { color:#ecdefa; }
.greytext { color:#555; }
.darkpurple {color:#270f42;}
.midpurple {color:#3b2d4c;}
.dullpurple {color:#5E3E82;}
.lightpurple {color:#c7a1fa;}
.green {color:#80D859;}
.orange {color:#EF804C;}
.black {color:#1F1A24;}
.white {color:#f4f0f8;}

/* bg colors*/
.warning { background:#EF804C !important; }
.caution { background:#519091 !important; }
.positive { background:#3a6b33 !important; }
.legendary { background:#8a159c !important; }
.epic { background:#e43774 !important; }
.rare { background:#6080dc !important; }
.uncommon { background:#d87d1b !important; }
.default { background:#666 !important; }
.other { background:#2e5e44 !important; }
.resists { background:#6d3347 !important;}
.black_bg {background:#ecdefa;}
.orange_bg {background:#EF804C;}
.green_bg {background:#80D859;}
.dullpurple_bg {background:#5E3E82;}
.midpurple_bg {background:#3b2d4c;}
.darkpurple_bg {background:#270f42;}
.white_bg {background:#f4f0f8;}
.white_gradient_bg {background: linear-gradient(137deg, rgba(223, 223, 223, 1) 0%, rgba(240, 240, 240, 1) 35%, rgba(255, 255, 255, 1) 100%);}
.purple_gradient_bg {background: linear-gradient(180deg, rgb(221 202 249) 0%, rgb(231 215 254) 35%, rgb(244 235 249) 100%);}
.dark_gradient_bg {background: linear-gradient(180deg, var(--token-b86d464f-8a75-4026-926e-cdb0ade9420b, #1e1d25) 10%, var(--token-b86d464f-8a75-4026-926e-cdb0ade9420b, #1e1d25) 104%);}

/* animated link colors */
a.uncommontext { color:#80D859;transition: color 1.0s;-webkit-transition: color 1.0s;}
a.uncommontext:hover { color:#EF804C;transition: color 1.0s;-webkit-transition: color 1.0s;}
a.uncommonorangetext { color:#EF804C;transition: color 1.0s;-webkit-transition: color 1.0s;}
a.uncommonorangetext:hover { color:#80D859;transition: color 1.0s;-webkit-transition: color 1.0s;}

a.whitetext { color:#ecdefa;transition: color 1.0s;-webkit-transition: color 1.0s;}
a.whitetext:hover { color:#80D859;transition: color 1.0s;-webkit-transition: color 1.0s;}

.textshadow_light {text-shadow:#ecdefa 2px 2px;}
.textshadow_dark {text-shadow:#1F1A24 2px 2px;}
.boxshadow_light {box-shadow:#ecdefa 0.5rem 0.5rem;}
.boxshadow_darksmall {box-shadow:#1F1A24 0.25rem 0.25rem;}
.boxshadow_dark {box-shadow:#1F1A24 0.5rem 0.5rem;}

.grayscale {filter: grayscale(100%); transition: transform 0.5s;}
.grayscale:hover {filter: grayscale(0%); transition: transform 0.5s;}

/* visuals*/
.container { height:100vh;margin:0 auto;}

.menu { 
  -webkit-flex:1;
  -webkit-flex-direction:row;
  flex:1;
  flex-direction:row;
  margin-right:1em; 
  height:100%;
  position:absolute;
  top:0;
}

ul.list {display:-webkit-flexbox;display:-ms-flexbox;display:flex;-webkit-flex:4;flex:4;-webkit-flex-wrap:wrap;flex-wrap:wrap;-webkit-justify-content:space-between;justify-content:space-between;padding:0;}
ul.list li#work{ border:0;}

.list-item, .list-itembig, .list-itemmed, .list-itemrace {-webkit-flex-direction:column;flex-direction:column;width:100%;margin:0;}
.list-content {-webkit-flex:1 0 auto;flex:1 0 auto;display: flex; flex-direction: column; height: 100%;padding:0 2rem 2rem 2rem;}
.textbox { padding:2em;text-align:center;}
.projecttextbox { padding:2em;text-align:left;color:#eee;margin:0 auto;max-width:1024px;}
.duotextbox {padding-top:2em;}
.textbox ul li,.duotextbox ul li{display:block;line-height:1em}
.textbox strong,.duotextbox strong {font-weight:600;}
.titlebar strong {background-color:#ffefdc !important;}
.listimg {margin:0 auto;text-align:center;width:auto;padding:5em 0;}
.work span {color:#eee;font-size:1.2rem;}
.work h1{display:block;text-align:center;padding:2rem 0 1rem 0;}
.pspacer {margin:1rem 0 2rem 0 !important;}

/* skills */
.linkedin { max-width:60px;padding:0 !important;}
.list-itemmid2 img {margin:0 auto;width:auto;padding:5em 0;}
.list-itemmid2 img.large {padding-right:10px;width:auto;max-width:1024px;}
.list-itemmid h1, .list-itemmid2 h1 { font-size:5em;font-weight:800;padding:0;font-family: 'Poppins',serif;}
.list-itemmid h1, .list-itemmid2 h2 { font-size:3em;font-weight:800;padding:0;font-family: 'Poppins',serif;}
.list-itemmid h3, .list-itemmid2 h3 { font-size:1.4em;font-weight:400;padding:0 0 5em 0;font-family: 'Poppins',serif;}
.list-itemmid p, .list-itemmid2 p { text-align:left;padding:0 1em 0 1em;}
.last {margin-bottom:5em;}

.footer { padding:2rem; width:100%;text-align:center;justify-content:center}

/* navigation */
#menu {position:fixed;width:100%;top:0;left:0; z-index:999;}
.new_navigation { display:flex; justify-content:center; font-style:normal;padding:1rem 2rem;align-items:center;width:100%;}
.new_navigation a {margin-right:8px;}
.new_navigation .namespace {display:flex;justify-content:flex-start;align-items:center;width:100%;}
.new_navigation .linkspace {display:flex;justify-content:flex-end;align-items:center;width:100%;}
.topspace {padding-top:4rem;}

/* video embed */
.embed { width:100%;text-align:center;margin:0 auto;padding:2em; }
.embedsmall { display:flex;justify-content:space-between;width:100%;text-align:center;margin:0 auto;}
.embedsmall iframe {max-width:24%;}

/* animation */
@keyframes fadebox {from { opacity: 0.0 }to { opacity: 0.7 }}
.animate {-webkit-transition: all .3s ease-in-out .001s;transition:all .3s ease-in-out .001s;}

/* gallery overrides */
#cboxOverlay {opacity:0.92 !important}
#cboxClose {display:none;}
.bordernone,.bordernone2,.bordernone3 {border-right:0px solid #bfbcb7;}
.gallery {width: 900px;display: flex;overflow-x: scroll;}
.gallery div {width: 100%; display: grid; grid-template-columns: auto auto auto;grid-gap: 20px; padding: 10px;flex: none;}
.gallery div img { width: 100%;filter: grayscale(100%); transition: transform 0.5s;}
.gallery::-webkit-scrollbar {display: none;}
.gallery-wrap {display: flex;align-items: center;justify-content: center;margin: 0 auto;}
#backbtn,#nextbtn {cursor: pointer;width: 50px;margin: 40px;}
.gallery div img:hover {filter: grayscale(0);transform: scale(1.1);cursor: pointer;}

.justified-gallery span {
  display:inline-block;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;  
  margin:0 auto;
  background:rgba(0, 0, 0, 0.35);
  text-align:center;
  padding:1rem;
}

/* Portfolio Site CSS */
.about {display:flex;padding:2rem 8rem;justify-content:center;flex-direction:column;}
.docs {display:flex;width:100%;flex-direction:row;flex-wrap:wrap;align-items:center;}
.docs a {display:inline-block;flex:1;text-align:center;width:auto;max-width:300px;margin-bottom:16px;margin-right:8px;align-self:center;}
.docs img {display:inline-block;max-width:50%;height:auto;justify-content:center;align-self:center;}
.flexbox {display:flex;width:100%;justify-content: space-between;flex-wrap:wrap;}
.horizontal {flex-direction: row;}
.vertical {flex-direction: column;}
.flex-item {align-self:center;text-align:center;}
.leftcontent {padding:4rem;}
.rightcontent {padding:2rem 8rem;justify-content:center;}
.rightcontentgame {display:flex;padding:2rem 2rem;justify-content:center;flex-direction:row;}
.herocontent {display:flex;flex-direction:row;width:100%;padding:4rem;justify-content:space-between;align-items:flex-start;}
.heroleft {flex:1;flex-basis:50%;align-self: flex-start;margin-right:5%;z-index:1}
.heroright {flex:1;flex-basis:50%;align-self: flex-start;z-index:1}
.herocontent .roundedbutton {display:none;}
.heroimage .splash {z-index:1;}
.fixwidth {max-width:640px;margin:0 auto;}
.justifytext {text-align: justify;}
.exampleimage {justify-content:center;align-items:center;text-align:center;margin:0 auto;min-width:320px;max-width:860px;}

/* fade overlay */
.overlay {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  display: block;
  z-index:1;
  opacity: 0.75;
  border-radius:24px;
  -webkit-mask-image: linear-gradient(to bottom,#3b2d4c, transparent);
  mask-image: linear-gradient(to bottom, #3b2d4c, transparent 95%);
}

.game_box {
  position:relative;
  display:flex;align-items:center;justify-content:center;
  border-radius:24px;
  padding:3rem;
  margin:0 0 24px 0px;
}

.game_box .image_container {position:absolute;width:256px;height:256px;left:-128px;background: transparent url('../images/game_bg_circle_purple.png') no-repeat;}
.mask {mask-image: url('../images/game_bg_circle_purple.png');mask-repeat:no-repeat;mask-position:center;mask-mode: alpha; mask-size:230px 230px;}
.game_box img {width:100%;height:100%;}
.gamebox_text {z-index:1;justify-content:center;}

/* animated button */
.rightfloat {float:right;}
.roundedbutton {
  display:inline-block;
  width:auto;
  text-align:right;
  border-radius:128px;
  padding:0.7rem 2rem;
  transition:1s;
  opacity:0.95;
  background: linear-gradient(0deg,rgb(204, 255, 102) 0%,rgb(128, 216, 89)  100%);
  backdrop-filter: blur(24px);
}

.roundedbutton:hover {background: linear-gradient(0deg,rgb(128, 216, 89) 0%,rgb(204, 255, 102) 100%);}
.roundedbutton:active {transform: translateY(4px);}
.roundedbutton span {display: inline-block;position: relative;transition: 0.5s;}
.roundedbutton span:after {content: '\00bb';position: absolute;opacity: 0;right: -20px;transition: 0.5s;}
.roundedbutton:hover span {padding-right: 25px;}
.roundedbutton:hover span:after {opacity: 1;right: 0;}


/* end animated button*/
.plain {width:100%;}
.clickwork {text-align:center;justify-content:center;}
.gamespace {display:block;padding:2rem 2rem;}
.gamespace .button {display:inline;border-radius:8px;}
.gamevideo { justify-content:center; }
.gamevideo iframe { aspect-ratio: 16 / 9;width: 100% !important;}
.gamevideo {width: 100%; min-width: 420px; max-width: 1440px;margin:0 auto;}
.expandedvideo {display:none;}
.gamevideo_content {position: relative; width: 100%; overflow: hidden; padding-top: 56.25%;}
.gamedetails { padding:0 0 0 2rem; }
.gamespace ul li { display:block; }
.projectlinks {display:flex;align-items:center;flex-direction:row;width:100%;justify-content:space-between;}
.projectcontent {display:flex;flex-direction:row;}
.projectdetails {display:flex;flex-flow:row wrap;}
.projectdetails span {margin:0 8px 0 0px;}
.skills ul p { font-size:1rem;text-align:center;}
.tagline { width:100%; padding:4em 4em;margin:0 auto;text-align:center;max-width:80em}
.tagline h1 { margin:0;font-weight:200;font-family: 'Poppins',serif;}
.tagline h1.portfolio { margin:0;font-weight:200;font-family: 'Poppins',serif;}
.tagline h3.portfolio { margin:0;font-weight:200;font-family: 'Poppins',serif;}
.list-item img {max-width:180px;} 
.contact a {display:block;text-align:center;width:100%;padding:1rem 0;} 
.descriptor ul {display:inline-block;max-width:1280px;}
.descriptor ul li {text-align:left;line-height:1.6em;margin-bottom:0.5rem;}

.headline {
  display:inline-block;
  background: rgb(21,21,21);
  background: linear-gradient(90deg, rgba(36,39,49,1) 0%, rgba(96,99,109,1) 35%, rgba(136,139,149,1) 100%);
  width :100%;
  border-radius:8px;
  padding:0.8rem;
  color:#fff;
  font-size:1.2rem;
}

.subheader {
  display:block;
  padding:0.5rem 0 1rem 0;
  text-align:center;
  justify-content:center;
  font-style:oblique;
}

ul.experience { margin:0rem 0 1rem 0; }
ul.experience li {margin:0rem 0 0.5rem 0;display:block;}

/* Pills */
.pillbox {padding: 0.5rem 0;}
.textpill {
  display:inline-block;
  text-align:center;
  border-radius:128px;
  margin-right:0.5rem;
  margin-bottom:0.5rem;
  padding:8px;   
  white-space: nowrap;
  color:#fff;
}
.textpill_inline {
  display:inline;
  padding:0.5rem;
  font-size:0.75em;
  text-align:center;
  border-radius:6px;
  padding:4px;
  padding-right:5px;
  padding-left:5px;   
  white-space: nowrap;
  color:#fff;
}
.gamedesign {background-color:#536c79;}
.leveldesign {background-color:#6a5379;}
.uidesign {background-color:#a34646;}
.narrativedesign{background-color:#79536a;}
.documentation{background-color:#666;}
.unity {background-color:#150c30;}
.csharp {background-color:#150000;}
.css {background-color:#15ac00;}
.json {background-color:#153000;}
.lua {background-color:#150440;}
.js {background-color:#150740;}
.digitaldesign {background-color:#53796c;}
.graphicdesign {background-color:#607953;}
.webdesign {background-color:#6d5656;}
.ftue {background-color:#577390;}
.pm {background-color:#8b6b4a;}
.programming {background-color:#796453;}
.unity {background-color:#444;}
.html {background-color:#5a517f;}
.ddd {background-color:#b69040;}
.photoshop {background-color:#000077;}
.art {background-color:#770077;}
.button {display:inline-block;border-radius:8px;padding:1rem;margin-bottom:1rem;font-weight:600;}
.button:hover{}

/* link container */
.sprite-container { display:flex;justify-content:center;align-items:center;width:100%; }
.sprite-container a { margin-right:16px;}
.footer .sprite-container {justify-content:center;}

#linkedin {width: 48px;height: 48px;background: transparent url(../images/contactlinks_colorize_large.png) no-repeat scroll 0px 0px;transition:1.0s;filter: invert(86%) sepia(5%) saturate(2289%) hue-rotate(207deg) brightness(113%) contrast(86%);} 
#reachout {width: 48px;height: 48px;background: transparent url(../images/contactlinks_colorize_large.png) no-repeat scroll 0px -48px;transition:1.0s;filter: invert(86%) sepia(5%) saturate(2289%) hue-rotate(207deg) brightness(113%) contrast(86%);} 

#linkedin:hover {transition:1.0s;filter: invert(82%) sepia(24%) saturate(1023%) hue-rotate(50deg) brightness(91%) contrast(91%);} 
#linkedin:active {transition:1.0s;filter: invert(60%) sepia(26%) saturate(1291%) hue-rotate(330deg) brightness(98%) contrast(92%);} 
#reachout:hover {transition:1.0s;filter: invert(82%) sepia(24%) saturate(1023%) hue-rotate(50deg) brightness(91%) contrast(91%);} 
#reachout:active {transition:1.0s;filter: invert(60%) sepia(26%) saturate(1291%) hue-rotate(330deg) brightness(98%) contrast(92%);} 

#linkedin_sm {width: 32px;height: 32px;background: transparent url(../images/contactlinks_colorize.png) no-repeat scroll 0px 0px;transition:1.0s;filter: invert(86%) sepia(5%) saturate(2289%) hue-rotate(207deg) brightness(113%) contrast(86%);} 
#reachout_sm {width: 32px;height: 32px;background: transparent url(../images/contactlinks_colorize.png) no-repeat scroll 0px -32px;transition:1.0s;filter: invert(86%) sepia(5%) saturate(2289%) hue-rotate(207deg) brightness(113%) contrast(86%);} 

#linkedin_sm:hover {transition:1.0s;filter: invert(82%) sepia(24%) saturate(1023%) hue-rotate(50deg) brightness(91%) contrast(91%);} 
#linkedin_sm:active {transition:1.0s;filter: invert(60%) sepia(26%) saturate(1291%) hue-rotate(330deg) brightness(98%) contrast(92%);} 
#reachout_sm:hover {transition:1.0s;filter: invert(82%) sepia(24%) saturate(1023%) hue-rotate(50deg) brightness(91%) contrast(91%);} 
#reachout_sm:active {transition:1.0s;filter: invert(60%) sepia(26%) saturate(1291%) hue-rotate(330deg) brightness(98%) contrast(92%);} 

/* project images*/

.heroimage {background: #000 url('../images/zugalu/huntersmoon/BattleScreen.png') no-repeat; background-size:cover;background-position:0 55%;-webkit-mask-image: linear-gradient(to bottom,#3b2d4c, black);mask-image: linear-gradient(to bottom, #3b2d4c, black 100%);}
.heroimage:before {content:""; position:absolute; top:0; left:0; width:100%; height:100%;filter: grayscale(100%);transition:1s;border-radius:24px;background-image: radial-gradient(circle at center, transparent 0%, rgba(0, 0, 0, 0.7) 85%);}

.stemuliimage {background: #000 url('../images/stemuli/common/5.png') no-repeat; background-size:cover;background-position:0 55%;-webkit-mask-image: linear-gradient(to bottom,#3b2d4c, black);mask-image: linear-gradient(to bottom, #3b2d4c, black 100%);}
.stemuliimage:before {content:""; position:absolute; top:0; left:0; width:100%; height:100%;filter: grayscale(100%);transition:1s;border-radius:24px;background-image: radial-gradient(circle at center, transparent 0%, rgba(0, 0, 0, 0.7) 85%);}
.dualuniverseimage {background: #000 url('../images/dualuniverse/gunbase/interior.png') no-repeat; background-size:cover;background-position:0 55%;-webkit-mask-image: linear-gradient(to bottom,#3b2d4c, black);mask-image: linear-gradient(to bottom, #3b2d4c, black 100%);}
.dualuniverseimage:before {content:""; position:absolute; top:0; left:0; width:100%; height:100%;filter: grayscale(100%);transition:1s;border-radius:24px;background-image: radial-gradient(circle at center, transparent 0%, rgba(0, 0, 0, 0.7) 85%);}
.duoimage {background: #000 url('../images/duo/duo_level6_a.png') no-repeat; background-size:cover;background-position:0 55%;-webkit-mask-image: linear-gradient(to bottom,#3b2d4c, black);mask-image: linear-gradient(to bottom, #3b2d4c, black 100%);}
.duoimage:before {content:""; position:absolute; top:0; left:0; width:100%; height:100%;filter: grayscale(100%);transition:1s;border-radius:24px;background-image: radial-gradient(circle at center, transparent 0%, rgba(0, 0, 0, 0.7) 85%);}
.fuimage {background: #000 url('../images/thumbs/frackinuniverse_thumb.png') no-repeat; background-size:cover;background-position:0 55%;-webkit-mask-image: linear-gradient(to bottom,#3b2d4c, black);mask-image: linear-gradient(to bottom, #3b2d4c, black 100%);}
.fuimage:before {content:""; position:absolute; top:0; left:0; width:100%; height:100%;filter: grayscale(100%);transition:1s;border-radius:24px;background-image: radial-gradient(circle at center, transparent 0%, rgba(0, 0, 0, 0.7) 85%);}
.soulreaperimage {background: #000 url('../images/soulreaper/sr5.jpg') no-repeat; background-size:cover;background-position:0 55%;-webkit-mask-image: linear-gradient(to bottom,#3b2d4c, black);mask-image: linear-gradient(to bottom, #3b2d4c, black 100%);}
.soulreaperimage:before {content:""; position:absolute; top:0; left:0; width:100%; height:100%;filter: grayscale(100%);transition:1s;border-radius:24px;background-image: radial-gradient(circle at center, transparent 0%, rgba(0, 0, 0, 0.7) 85%);}
.thriveimage {background: #000 url('../images/zugalu/Firebar.png') no-repeat; background-size:cover;background-position:0 55%;-webkit-mask-image: linear-gradient(to bottom,#3b2d4c, black);mask-image: linear-gradient(to bottom, #3b2d4c, black 100%);}
.thriveimage:before {content:""; position:absolute; top:0; left:0; width:100%; height:100%;filter: grayscale(100%);transition:1s;border-radius:24px;background-image: radial-gradient(circle at center, transparent 0%, rgba(0, 0, 0, 0.7) 85%);}
.temperedhueimage {background: #000 url('../images/zugalu/temperedhue/combat.gif') no-repeat; background-size:cover;background-position:0 55%;-webkit-mask-image: linear-gradient(to bottom,#3b2d4c, black);mask-image: linear-gradient(to bottom, #3b2d4c, black 100%);}
.temperedhueimage:before {content:""; position:absolute; top:0; left:0; width:100%; height:100%;filter: grayscale(100%);transition:1s;border-radius:24px;background-image: radial-gradient(circle at center, transparent 0%, rgba(0, 0, 0, 0.7) 85%);}

.artimage {background: #000 url('../images/thumbs/mapthumb.png') no-repeat; background-size:cover;background-position:0 55%;-webkit-mask-image: linear-gradient(to bottom,#3b2d4c, black);mask-image: linear-gradient(to bottom, #3b2d4c, black 100%);}
.artimage:before {content:""; position:absolute; top:0; left:0; width:100%; height:100%;filter: grayscale(100%);transition:1s;border-radius:24px;background-image: radial-gradient(circle at center, transparent 0%, rgba(0, 0, 0, 0.7) 85%);}
.designimage {background: #000 url('../images/thumbs/mapthumb.png') no-repeat; background-size:cover;background-position:0 55%;-webkit-mask-image: linear-gradient(to bottom,#3b2d4c, black);mask-image: linear-gradient(to bottom, #3b2d4c, black 100%);}
.designimage:before {content:""; position:absolute; top:0; left:0; width:100%; height:100%;filter: grayscale(100%);transition:1s;border-radius:24px;background-image: radial-gradient(circle at center, transparent 0%, rgba(0, 0, 0, 0.7) 85%);}
.miscimage {background: #000 url('../images/leveldesigns/farmhand.png') no-repeat; background-size:cover;background-position:0 55%;-webkit-mask-image: linear-gradient(to bottom,#3b2d4c, black);mask-image: linear-gradient(to bottom, #3b2d4c, black 100%);}
.miscimage:before {content:""; position:absolute; top:0; left:0; width:100%; height:100%;filter: grayscale(100%);transition:1s;border-radius:24px;background-image: radial-gradient(circle at center, transparent 0%, rgba(0, 0, 0, 0.7) 85%);}



/* Experience Items Base */
.huntersmoon,.temperedhue,.thrive,.stemuli,.dualuniverse,.soulreaper,.duo {background-size:cover;background-position:0 30%;-webkit-mask-image: linear-gradient(to bottom,#3b2d4c, black);mask-image: linear-gradient(to bottom, #3b2d4c, black 95%);transition:1s;}

/* disable greyscale on hover*/
.huntersmoon:hover,.temperedhue:hover,.thrive:hover,.stemuli:hover,.dualuniverse:hover,.soulreaper:hover,.duo:hover {filter: grayscale(0%);}
/* Apply dimensions and grayscale before */
.temperedhue:before,.huntersmoon:before,.thrive:before,.stemuli:before,.dualuniverse:before,.soulreaper:before,.duo:before {content:""; position:absolute; top:0; left:0; width:100%; height:100%;filter: grayscale(100%);transition:1s;border-radius:24px;}

/* Applied images and positions*/
.temperedhue:before {background: #000 url('../images/zugalu/temperedhue/combat.gif') no-repeat;background-size:cover;background-position:0 30%;}
.huntersmoon:before {background: #000 url('../images/zugalu/huntersmoon/BattleScreen.png') no-repeat; background-size:cover;background-position:0 55%;}
.thrive:before {background: #000 url('../images/zugalu/Firebar.png') no-repeat; background-size:cover;background-position:0 55%;}
.stemuli:before {background: #000 url('../images/stemuli/common/5.png') no-repeat; background-size:cover;background-position:0 55%;}
.dualuniverse:before {background: #000 url('../images/dualuniverse/shipyard/lobby.png') no-repeat; background-size:cover;background-position:0 55%;}
.soulreaper:before {background: #000 url('../images/soulreaper/sr5.jpg') no-repeat; background-size:cover;background-position:0 55%;}
.duo:before {background: #000 url('../images/duo/duo_level3_a.png') no-repeat; background-size:cover;background-position:0 55%;}

.temperedhue:hover:before,.huntersmoon:hover:before,.thrive:hover:before,.stemuli:hover:before,.dualuniverse:hover:before,.soulreaper:hover:before,.duo:hover:before { filter: grayscale(0%);transition:1s; }


.videoplayer {position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; border: none;border-radius:36px;}
.smallvideocontainer {display:flex;flex-direction:row;justify-content:space-between}
.smallvideocontainer iframe {width:25% !important;padding-right:5px;}

#videoModal { background:rgba(0,0,0,0.5);z-index:99999; }
.modal {padding:4rem;}
.modal iframe {width:100%;height:auto;}
.closeBtn {float:right;color:#fff;font-size:2rem;}
.closeBtn:hover,.closeBtn:focus { text-decoration: none;  cursor: pointer;}


/* media queries */
@media screen and (max-width: 1480px) {
  .clients img { padding: 2em;max-width: 200px !important;}
  .list-item {  width: 33.33%; }
  .list-itemmid2 {  width: 100%; }
  .list-itemmed { width: 66.33%; }  
  .list-itemrace { width:25%; }  
  .list-itembig { width: 100%; }  
  .bordernone {border-right:1px solid #bfbcb7;}
  .bordernone2 {border-right:1px solid #bfbcb7;}
  .bordernone3 {border-right:0;}
  .bordernonea {border-right:1px solid #bfbcb7;}
  .bordernone2a {border-right:1px solid #bfbcb7;}
  .bordernone3a {border-right:0;}  
  .work h1{padding:3rem 0 2rem 0;} 
  .gamespace {padding:2rem 2rem;} 
}

@media screen and (max-width: 1200px) {
  .clients img { padding: 2em;max-width: 200px !important;}
  .list-item { width: 50%; }
  .list-itemrace { width:50%; }
  .list-itemmed { width: 75%; }    
  .list-itembig { width: 100%;} 
  .box img.greeting {max-width:40%}
  .list-itemmid2 img { margin: 0 auto; width: auto; padding: 2em 1em;} 
  .portpic_container { width:100%;max-width:100%;margin:0 auto;}
  .bordernone {border-right:1px solid #bfbcb7;}
  .bordernone2 {border-right:0px solid #bfbcb7;}
  .bordernone3 {border-right:1px solid #bfbcb7;}
  .bordernonea {border-right:0px solid #bfbcb7;}
  .bordernone2a {border-right:1px solid #bfbcb7;}
  .bordernone3a {border-right:0px solid #bfbcb7;} 
  .projectcontent {display:flex;flex-direction:column;}
  .gamedetails { padding:0 0 0 0; margin-top:16px;}
  .rightcontent,.leftcontent{padding:2rem;}  
  .herocontent {display:flex;flex-direction:column;width:100%;padding:4rem;justify-content:space-between;align-items:flex-start}
  .heroleft {flex:1;flex-basis:100%;align-self: flex-start;margin-right:5%;}
  .heroright {flex:1;flex-basis:100%;align-self: flex-start;}
  .heroright .gamevideo {display:none;}
  .herocontent .roundedbutton {display:inline-block;}
}

@media screen and (max-width: 992px) { }

@media screen and (max-width: 768px) {
  .work h1{padding:2rem 0 2rem 0;font-size:32px} 
  .clients img { padding: 2em;max-width: 200px !important;}
  .list-item { width: 50%; }
  .list-itemrace { width:50%; }
  .list-itemmed { width: 75%; }    
  .list-itembig { width: 100%;} 
  .box img.greeting {max-width:30%}
  .list-itemmid2 img { margin: 0 auto; width: 70px; padding: 2em 1em;}  
  .list-item, .list-itembig, .list-itemmed, .list-itemrace {border-right:0;}
  #menu .main_navigation ul {margin-top:0px;}
  .game_box .image_container {position:absolute;width:128px;height:128px;left:-64px;background: transparent url('../images/game_bg_circle_purple_sm.png') no-repeat;}
  .mask {mask-image: url('../images/game_bg_circle_purple_sm.png');mask-repeat:no-repeat;mask-position:center;mask-mode: alpha; mask-size:100px 100px;}
  .rightcontent .game_box p {padding: 1rem 0rem;}
  .new_navigation {justify-content:center;}
  .indexpage {display:block;}
  .horizontal {flex-direction:column;}
  .rightcontent,.leftcontent{flex-basis:100%;padding:2rem;}  
  .rightcontent h1.dullpurple {text-align:center;}
  .new_navigation {flex-direction:column;justify-content:flex-start;}
  .new_navigation .namespace {width:100%;justify-content:center;padding-bottom:16px;} 
  .new_navigation .linkspace {width:100%;justify-content:center;}  
  .new_navigation {padding:2rem;}
  .topspace {padding-top:6rem;} 
  .about {padding:2rem 2rem;}  
  #menu {padding:1rem;}
  .herocontent {padding:4rem 2rem;justify-content:space-between;align-items:flex-start}
}

@media screen and (max-width: 480px) {
  .clients img { padding: 2em;max-width: 480px !important;}
  .list-item { width: 100%; padding:1em; }
  .list-itemrace { width:100%; } 
  .container { padding:0;}
  .box {position:relative;margin-top:1em}
  .box img.greeting {left:1em;top:0em;max-width:20%}
  .bordernone {border-right:0px solid #bfbcb7;}
  .bordernone2 {border-right:0px solid #bfbcb7;}
  .bordernone3 {border-right:0px solid #bfbcb7;}
  .bordernonea {border-right:0px solid #bfbcb7;}
  .bordernone2a {border-right:0px solid #bfbcb7;}
  .bordernone3a {border-right:0px solid #bfbcb7;}
  .new_navigation .namespace {padding-bottom:0px;} 
  .herocontent {padding:6rem 2rem;justify-content:space-between;align-items:flex-start}
  .linkspace .heading {font-size: clamp(0.2rem, 1vw + 1rem, 18px);}
  .namespace .heading {font-size: clamp(1rem, 1vw + 1rem, 18px);}
}

}